:root {
  --clr_theme: #325b97;
  --clr_heading: #232323;
  --clr_white: #ffffff;
  --clr_para_light: #757575;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}
section {
  padding: 70px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Space Grotesk", serif;
  color: var(--clr_heading);
}
p {
  font-size: 18px;
}
p.dark {
  color: var(--clr_heading);
}
p.light {
  color: var(--clr_para_light);
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: var(--clr_heading);
  display: inline-block;
  font-size: 18px;
  text-transform: capitalize;
}

/* ====Header Area ==== */
.header_area {
  background: var(--clr_theme);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_menu nav ul,
.login_signup ul {
  display: flex;
}
.main_menu nav ul li a,
.login_signup ul li a {
  padding: 15px 25px;
  color: var(--clr_white);
}
.main_menu nav ul li a.first {
  padding-left: 0;
}
/* ====Header Area ==== */

/* ====Hero Area ==== */
.hero_area {
  background: url("../images/hero_bg.png");

  background-size: cover;
  background-position: center;
  padding-top: 220px;
}
.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.hero_heading h2 {
  font-size: 64px;
  line-height: 120%;
  max-width: 70%;
  color: var(--clr_white);
}
.hero_heading p {
  line-height: 170%;
  max-width: 53%;
  color: var(--clr_white);
  padding: 30px 0;
}

.hero_btns .btn {
  padding: 15px 20px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  margin-right: 20px;
  color: var(--clr_white);
}
.hero_btns .btn:first-child {
  background: var(--clr_white);
  color: var(--clr_theme);
}
.counter {
  margin: 50px 0;
}
.counter ul {
  display: flex;
}
.counter ul li {
  padding: 10px 30px 10px 0;
  position: relative;
}
.counter ul li::after {
  position: absolute;
  content: "";
  height: 45%;
  width: 2px;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.16);
}
.counter ul li h4 {
  font-size: 32px;
  font-weight: 500;
  color: var(--clr_white);
}
.counter ul li p {
  padding: 10px 0;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}

/* ====Hero Area ==== */

/* ====employee management area ==== */

.employee_manage_heading h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  margin-bottom: 50px;
}
.manage_list ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.manage_list ul li {
  border-radius: 10px;
}
.manage_img picture {
  min-height: 378px;
  min-width: 378px;
}
.list_details {
  padding: 20px 0;
}
.list_details h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -5%;
}
.list_details p {
  line-height: 170%;
  padding: 20px 0;
}
/* ====employee management area ==== */

/* ==== Why We Area ==== */

.why_we_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.why_we_details h3 {
  font-size: 48px;
  line-height: 140%;
}
.why_we_details p {
  line-height: 170%;
  padding: 20px 0;
}
.why_we_list li {
  display: flex;
  gap: 30px;
  align-items: center;
  border:2px solid rgba(35, 35, 35,0.16);
  padding: 0px 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.why_we_list li i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr);
  width: 30px;
  height: 30px;
  background: var(--bg);
  border-radius: 7px;
}

/* ==== Why We Area ==== */
