:root {
  --clr_theme: #325b97;
  --clr_heading: #232323;
  --clr_white: #ffffff;
  --clr_para_light: #757575;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}
section {
  padding: 70px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Space Grotesk", serif;
  color: var(--clr_heading);
}
p {
  font-size: 18px;
}
p.dark {
  color: var(--clr_heading);
}
p.light {
  color: var(--clr_para_light);
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: var(--clr_heading);
  display: inline-block;
  font-size: 18px;
  text-transform: capitalize;
}

/* ====Header Area ==== */
.header_area {
  background: var(--clr_theme);
  height: 60px;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_menu nav ul,
.login_signup ul {
  display: flex;
}
.main_menu nav ul li a,
.login_signup ul li a {
  padding: 15px 25px;
  color: var(--clr_white);
}

/* ====Header Area ==== */
